@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
    :root {
        --cp-bg-color: #333;
        --cp-border-color: white;
        --cp-input-color: #555;
        --cp-button-hover-color: #777;
    }
}

body,html {
    height: 100%;
}